
/*.jumbotron {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*height: 450px;*/
    /*width: 100%;*/
/*}*/

/*#myVideo {*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*position: absolute;*/
    /*width: 100%;*/
/*}*/

.jumbotron{
    position: relative;
    overflow: hidden;
    padding:0px !important;
}
.container .text-center{
    z-index: 1000 !important;
}
.video-background:before{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background-color: #000;
    opacity: 0.39;
    z-index: 6;
}
.video-background {
    position: relative;
    background: #222;
    width:100%;
    z-index:5;
}
#myVideo{
    background-size: cover;
    transition: 1s opacity;
}


