<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="dizsit" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sushifutár</title>

    <link href="/css/custom.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="/">Sushifutár</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#orderInfoModal" href="#">Rendelési Információk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kapcsolat</a>
            </li>
        </ul>

        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/kosar">Kosár</a>
            </li>
            <li class="nav-item" th:if="${user}">
                <a class="nav-link" id="logged-in-user" th:text="'Szia ' + ${user.firstName} +'!'"></a>
            </li>
            <li class="nav-item" th:if="${user}">
                <a class="nav-link" id="logout" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Kijelentkezés</a>
            </li>

            <li class="nav-item" th:if="${user == null}">
                <a class="nav-link" href="/regisztracio">Regisztráció</a>
            </li>
            <li class="dropdown order-1" th:if="${user == null}">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Bejelentkezés <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right mt-1">
                    <li class="p-3">
                        <form class="form" role="form" id="login" th:action="@{/login}" method="post">
                            <div class="form-group">
                                <input id="email" name="email" placeholder="Email cím" class="form-control form-control-sm" type="email" required="">
                            </div>
                            <div class="form-group">
                                <input id="password" name="password" placeholder="Jelszó" class="form-control form-control-sm" type="password" required="">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Bejelentkezés</button>
                            </div>
                            <div class="form-group text-xs-center">
                                <small><a href="#">Elfelejtette jelszavát?</a></small>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="alert alert-danger" role="alert" style="margin-bottom: 0; text-align: center;">
        <p style="padding-top: 10px"><strong>Sikertelen</strong> <a class="alert-link">bejelentkezés.</a> Próbálkozz újra.</p>
    </div>


    <div class="jumbotron" style="height: 350px;">
        <video class="video-background" autoplay muted loop id="myVideo" style="padding-bottom: 100px">
            <source src="/video/sushi-video.mp4" type="video/mp4" />
        </video>
        <!--<div class="container">-->
            <!--<h1 class="display-4">Budapest legfinomabb sushiját</h1>-->
            <!--<p class="lead">szállítjuk házhoz neked.</p>-->
        <!--</div>-->
    </div>

    <!-- Body Container -->
    <div class="container">
        <!-- Content here -->
        <div class="row">
            <div class="card-center col-xs-6 col-sm-4" style="width: 18rem; margin: 0 auto; float: none; margin-bottom: 5px; margin-top: 5px;" th:each="food : ${foods}">
                <img class="card-img-top" src="..." alt="Card image cap" th:src="${food.pictureURL}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${food.name}">Card title</h5>
                    <p class="card-text" th:text="${#numbers.formatDecimal(food.price, 0, 'COMMA', 0, 'POINT')} + ' Forint'" style="float: left; font-style: oblique">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-button" style="margin-bottom: 10px">
                    <a href="#" th:href="@{'~/bike/' + ${food.id} + '/description'}" class="btn btn-default">Részletek</a>
                    <a href="#" class="btn btn-primary">Kosárba tesz</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="orderInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Rendelési Információk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <p>
                            Ételeinket mindig frissen készítjük ami a kiszállítási időt befolyásolhatja. (45-120 perc!)
                        </p>
                        <p>
                            Rendelésfelvétel minden nap 10:00 – 21:30<br>
                            Kiszállítás minden nap 11:00 – 21:30
                        </p>

                        <p>
                            Kiszállítási díjak: <br>
                            Ingyen: I., V., VI., VII., VIII., XIII.<br>
                            300 Ft: IX., XI.<br>
                            500 Ft: XIV.<br>
                            600 Ft: II., III., X., XII.<br>
                            800 Ft: IV., XV., XVI., XIX., XX., XXI.<br>
                            1000 Ft: XXII., XXIII., XVII., XVIII.<br>
                        </p>
                        <p>
                            Minimum rendelési összeg: 2500ft
                        </p>

                        <p>
                            A Budapesten kívüli szállítás feltételeiről, érdeklődjön központi számunkon. <br>
                            Ételeink nem előre gyártottak, hanem mindig frissen, a rendelés megérkezése után készülnek el,<br>
                            így Önök biztonságosan élvezhetik otthon, vagy munkahelyükön is ugyanazokat az ízeket mint éttermünkben.
                        </p>
                        <p>
                            A vegetáriánus sushik, wasabi nélkül készülnek, de a dobozban mellékeljük.<br>
                            Áraink tartalmazzák a szójaszószt, a wasabit, a sushi gyömbért, pálcikát és az áfát.<br>
                            Ha szeretné megkóstolni egyéb tradícionális japán ételeinket is, látogasson el éttermünkbe.<br>
                        </p>
                        <p>
                            Bambuszliget étterem<br>
                            1056 Budapest, Belgrád rkp. 18.<br>
                            Tel.: [061]318-1144<br>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Bezár</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>